@typeparam IType
@inherits BlazorEditorFor.EditorForModel<IType>

<div class="@GroupClass" style="@GroupStyle">
    <label for="@Name"
           class="@LabelClass"
           style="@LabelStyle">
        @Name
    </label>
    @if (InputType.Equals("checkbox", StringComparison.OrdinalIgnoreCase))
    {
        <input id="@Id"
               name="@Name"
               class="@InputClass"
               style="@InputStyle"
               type="@InputType"
               checked="@BoundData"
               onchange="@{(e) => BoundData = e.Value.ToString() }" />
    }
    else
    {
        <input id="@Id"
               name="@Name"
               class="@InputClass"
               style="@InputStyle"
               type="@InputType"
               bind="@BoundData" />
    }
</div>

