@inherits BletrisModel
<div>
    <div class="bletris-game">
        @if (Pieces != null)
        {
            foreach (var item in Pieces)
            {
                if (item.Active)
                {
                    <BletrisPiece Refresh="@Refresh" DeActivate="@PieceDeActivate" Piece="@item" Number="@item.Number" Delay="@Delay" IsPaused="@IsPaused" ref="ActivePiece" />
                }
                else
                {
                    <BletrisPiece Number="@item.Number" Piece="@item" />
                }
            }
        }
        <div class="score-panel">
            <h1>Bletris</h1>
            <div>&copy; Mister Magoo 2018</div>
            <h2>Next Piece</h2>
            <div>
                <BletrisPiece Number="@NextPieceId"  />
            </div>
            Delay :<input id="bletris_delay" type="number" bind="@Delay" step="100" onfocusin="@PauseGame" onfocusout="@ResumeGame" />
            <button class="btn btn-primary" onclick="@BtnPause">@BtnValue</button>
            <span>Posx=@(ActivePiece?.PositionX ?? 0)</span>
            <span>Posx=@(ActivePiece?.PositionY ?? 0)</span>
            <span>PieceX=@(ActivePiece?.GridX ?? 0)</span>
            <span>PieceY=@(ActivePiece?.GridY ?? 0)</span>
            <span>Width=@(ActivePiece?.Width ?? 0)</span>
            <span>Height=@(ActivePiece?.Height ?? 0)</span>
            <span>Pieces=@(Pieces?.Count ?? 0)</span>
            <span>Time=@DateTime.Now.TimeOfDay.ToString()</span>
        </div>
    </div>
</div>

