@inherits BlazorFlying.Model.FlyingModel

@if (@Debug)
{
<div>X = @Position.x</div>
<div>Y = @Position.y</div>
<div>new X = @NewPosition.x</div>
<div>new Y = @NewPosition.y</div>

<div>S = @Speed</div>
<span class="flying" style="top: @(NewPosition.x)%; left: @(NewPosition.y)%;font-size: x-large;color:yellow;" >X</span>
}

<img class="flying" src="@Image" style="top: @(Position.x)%; left: @(Position.y)%;" data-dx="@direction"/>

